<header class="top-app-bar">
  <div class="brand-lockup">
    <button *ngIf="isAdmin" type="button" class="icon-button" (click)="openAdminMenu()" aria-label="Open admin menu">
      <span class="material-symbols-outlined">menu</span>
    </button>
    <h1>{{ displayTitle }}</h1>
  </div>

  <a *ngIf="showAvatar" class="profile-avatar" routerLink="/tabs/profile" aria-label="Open profile">
    <img *ngIf="displayProfileImageUrl; else avatarFallback" [src]="displayProfileImageUrl" [alt]="displayTitle" />
    <ng-template #avatarFallback>
      <span class="material-symbols-outlined">person</span>
    </ng-template>
  </a>
</header>
